*{
    margin: 0;
}

body{
    background-color: lightgrey;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-weight: 50;
}

label{
    font-size: 0.8em;
    color: gray;
    margin-top: 5%;
}

.card_container{

    background-color: #fff;
    max-width: 600px;
    padding: 2%;
    margin: auto;
    box-shadow: 2px 2px 10px slategray;
}

#text_area{
    width: 100%;
    height: 60px;
    resize: none;
    background-color: lemonchiffon;
    border: 1px solid orange;
}

.output_box{
    border: 1px solid lightgray;
    height: 60px;
    margin: 0 0 40px 0;
    padding:2%;

}

